body {
	font-family: Sans;
  padding: 10px;
}

a {
	text-decoration: none;
}

.code-block { 
	background: #dcdcdc; 
	display: block; 
	padding: 3px; 
	border: 1 solid black;
	font-size: 0.9em;
}

.blog-post { 
	display: block; 
	width: 60%; 
  font-size: 0.9em;
}

.colophon { 
	font-size: 0.8em;
	font-style: italic;
}

.sidebar {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  display: block;
  padding: 10px;
  font-size: 1.0em;
  font-weight: bold;
  color: white;
  background: #00cc66;
  width: 60%;
}

.sidebar a {
  color: brown;
}

.footer {
  width: 60%;
  font-size: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #ffffcc;
  padding: 10px;
}

