body {
	font-family: Serif;
  padding: 10px;
	width: 60%;
}

h1 {
	display: block;
	padding: 0.5em;
	margin: 0.1em;
	background: black;
	color: orange;
}

a {
	text-decoration: none;
	margin: 0.1em;
}

a:hover {
	text-decoration: underline;
}

.code-block { 
	background: #dcdcdc; 
	display: block; 
	padding: 3px; 
	border: 1 solid black;
	font-size: 0.9em;
}

