<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/pygments.css">
  </head>
  <body>
    <div class="sidebar">
      I am Abhijit Hoskeri. I am a software developer living in Bangalore, India.
      You can have a look at some of my <a href="http://github.com/hoskeri">code</a>.
      Or, if you are interested, check out my <a href="/resume.html">resume</a>.
      You can reach me on <a href="http://identi.ca/whacker">Identi.ca</a>, or send an email at 
			<tt> abhijithoskeri at gmail com</tt>. 
	  </div>
    <h1> {{ page.title }} </h1>
        <div class="blog-post">
      {{ content }}
    </div>

    <div class="footer">
      <em>Like this? Check out some of the other stuff I have written:</em></br>
      {% for post in site.categories.blog %}
      &bull; <a href="{{ post.url }}"> {{ post.title }}</a> 
      {% endfor %}
			&bull; You can also buy me a book from my <em> <a href="http://www.flipkart.com/wishlist/abhijithoskeri">wishlist</a> </em>
    </div>
  </body>
</html>
